{% extends "base.html" %}
{% block content %}
<hr>
<form action="/custom_pcs/{{custom_pc.id}}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" value="{{custom_pc.name}}" required autofocus>
    </div>
    <div>
        <label for="gpu">GPU:</label>
        <select name="gpu" id="gpu" required>
            {% for gpu in gpus %}
            <option value="{{ gpu.id }}" 
            {% if custom_pc.gpu.id == gpu.id %} selected="selected" {% endif %}>
            {{ gpu.name }} - £{{ gpu.price }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="cpu">CPU:</label>
        <select name="cpu" id="cpu" required>
            {% for cpu in cpus %}
            <option value="{{ cpu.id }}" 
            {% if custom_pc.cpu.id == cpu.id %} selected="selected" {% endif %}>
            {{ cpu.name }} - £{{cpu.price}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="ram">RAM:</label>
        <select name="ram" id="ram" required>
            {% for ram in rams %}
            <option value="{{ ram.id }}" 
            {% if custom_pc.ram.id == ram.id %} selected="selected" {% endif %}>
            {{ ram.name }} - £{{ ram.price }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="motherboard">Motherboard:</label>
        <select name="motherboard" id="motherboard" required>
            {% for motherboard in motherboards %}
            <option value="{{ motherboard.id }}" 
            {% if custom_pc.motherboard.id == motherboard.id %} selected="selected" {% endif %}>
            {{ motherboard.name }} - £{{ motherboard.price }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="psu">PSU:</label>
        <select name="psu" id="psu" required>
            {% for psu in psus %}
            <option value="{{ psu.id }}" 
            {% if custom_pc.psu.id == psu.id %} selected="selected" {% endif %}>
            {{ psu.name }} - £{{ psu.price }}
            </option>
            {% endfor %}
        </select>
    </div>
    <hr>
    <button type="submit">Update Your PC</button>
</form>

{% endblock %}