{% extends 'base.html' %}
{% block content %}
 <hr>   
<div>


    <div class="container-for-pc">
        <ul class="ul-for-pc">
          {% for custom_pc in all_custom_pcs %}
          <li class="li-for-pc"><a class="button-effect" href="/custom_pcs/{{custom_pc.id}}"><p>{{custom_pc.name}}</p></a>
              <p class="price">Price: £{{custom_pc.total_price}}</p>
              <p><span class="gpu-text">GPU</span> : {{ custom_pc.gpu.name }}</p>
              <p><span class="cpu-text">CPU</span> : {{ custom_pc.cpu.name }}</p>
              <p><span class="ram-text">RAM</span> : {{ custom_pc.ram.name }}</p>
              <p><span class="motherboard-text">Motherboard</span>: {{ custom_pc.motherboard.name }}</p>
              <p><span class="psu-text">PSU</span> : {{ custom_pc.psu.name }}</p></li>
          {% endfor %}
      </ul> 
    </div>
    
</div>    


{% endblock %}