{% extends 'base.html' %}
{% block content %}
    

{% for custom_pc in all_custom_pcs %}
<hr>
    <div>
        <div>
              <p><a href="/custom_pcs/{{custom_pc.id}}">{{custom_pc.name}}</a></p>
               <p>Price: £{{custom_pc.total_price}}</p>
              <div>
                <p>GPU : {{ custom_pc.gpu.name }}</p>
                <p>CPU : {{ custom_pc.cpu.name }}</p>
                <p>RAM : {{ custom_pc.ram.name }}</p>
                <p>Motherboard: {{ custom_pc.motherboard.name }}</p>
                <p>PSU : {{ custom_pc.psu.name }}</p>
              </div>   
        </div>
    </div>
{% endfor %}

{% endblock %}