{% extends "base.html" %}
{% block content %}
<hr>
  <div class="show-pc">
    <div class="name-show">{{custom_pc.name}}</div>
  
    <span class="price-show"> Price: £{{custom_pc.total_price}}</span>
    
    <div class="gpu-show">GPU : {{ custom_pc.gpu.name }}</div>
    <div class="cpu-show">CPU : {{ custom_pc.cpu.name }}</div>
    <div class="ram-show">RAM : {{ custom_pc.ram.name }}</div>
    <div class="motherboard-show">Motherboard: {{ custom_pc.motherboard.name }}</div>
    <div class="psu-show">PSU : {{ custom_pc.psu.name }}</div>
    <div class="container-for-edit-pc-button"><a  class="button-effect" href="/custom_pcs/{{custom_pc.id}}/edit">Edit your build!</a></div>
    <form class="container-for-delete-pc-button" action="/custom_pcs/{{custom_pc.id}}/delete" method="POST">
        <button class="button-effect">Delete PC</button>
    </form>
  </div>

{% endblock %}