body {
    font-family: 'Chakra Petch', sans-serif;
    color: black;
    background-color: grey;
}

.top-left-logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Chakra Petch', sans-serif;
}

.pc-in-title {
    color: rgb(215, 8, 8);
}

img[src="/static/assets/computer-solid.svg"] {
    max-width: 35px;
}

.base-header {
    background-color: grey;
    padding: 5px;
}

hr {
    border-radius: 10px;
    border-color: black;
}

.list-of-menu-buttons {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.button-effect {
    padding: 8px 8px;
    border-radius: 12px;
    border: 0;
    background-color: rgb(6, 1, 1);
    color: rgb(220, 21, 21);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .5s ease;
    text-decoration: none;
}
   
.button-effect:hover {
    letter-spacing: 3px;
    background-color: hsl(0, 81%, 47%);
    color: black;
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}
   
.button-effect:active {
    letter-spacing: 3px;
    background-color: hsl(0, 80%, 48%);
    color: hsl(0, 7%, 3%);
    box-shadow: rgb(220, 24, 24) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.nav-button-effect {
    padding: 15px 15px;
    border-radius: 12px;
    border: 0;
    background-color: rgb(6, 1, 1);
    color: rgb(220, 21, 21);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 35px;
    transition: all .5s ease;
    text-decoration: none;
}
   
.nav-button-effect:hover {
    letter-spacing: 3px;
    background-color: hsl(0, 81%, 47%);
    color: black;
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}
   
.nav-button-effect:active {
    letter-spacing: 3px;
    background-color: hsl(0, 80%, 48%);
    color: hsl(0, 7%, 3%);
    box-shadow: rgb(220, 24, 24) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}   

.welcome-message {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: rgb(223, 20, 20);
    background-color: black;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 10px;
    padding: 10px;
}

.home-page-text {
    font-size: 1.9rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
    margin-left: 550px;
    margin-right: 550px;
    margin-bottom: 100px;
    padding: 30px;
    background-color: black;
    color: rgb(220, 21, 21);
    border-radius: 12px;
}

.links-message {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    border-radius: 12px;
    margin-left: 500px;
    margin-right: 500px;
}

img[src="/static/assets/icons8-hand-cursor-50.png"] {
    max-width: 30px;
    max-height: 30px;
}

.container-for-pc {
    
}
