body {
    font-family: 'Chakra Petch', sans-serif;
    color: black;
    background-color: rgb(99, 99, 99);
}

.top-left-logo {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Chakra Petch', sans-serif;
}

.pc-in-title {
    color: rgb(215, 8, 8);
}

img[src="/static/assets/computer-solid.svg"] {
    max-width: 35px;
}

.base-header {
    background-color: rgb(99, 99, 99);
    padding: 5px;
}

hr {
    border-radius: 10px;
    border-color: black;
}

.list-of-menu-buttons {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.button-effect {
    padding: 8px 8px;
    border-radius: 12px;
    border: 0;
    background-color: rgb(6, 1, 1);
    color: rgb(220, 21, 21);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 25px;
    transition: all .5s ease;
    text-decoration: none;
}
   
.button-effect:hover {
    letter-spacing: 3px;
    background-color: hsl(0, 81%, 47%);
    color: black;
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
    cursor: pointer;
}
   
.button-effect:active {
    letter-spacing: 3px;
    background-color: hsl(0, 80%, 48%);
    color: hsl(0, 7%, 3%);
    box-shadow: rgb(220, 24, 24) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.nav-button-effect {
    padding: 15px 15px;
    margin-left: 75px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(6, 1, 1);
    color: rgb(220, 21, 21);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    font-size: 35px;
    transition: all .5s ease;
    text-decoration: none;
}
   
.nav-button-effect:hover {
    letter-spacing: 3px;
    background-color: hsl(0, 81%, 47%);
    color: black;
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}
   
.nav-button-effect:active {
    letter-spacing: 3px;
    background-color: hsl(0, 80%, 48%);
    color: hsl(0, 7%, 3%);
    box-shadow: rgb(220, 24, 24) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}   

.welcome-message {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: rgb(223, 20, 20);
    background-color: black;
    margin-left: 550px;
    margin-right: 550px;
    border-radius: 10px;
    padding: 10px;
}

.home-page-text {
    font-size: 1.9rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 100px;
    margin-left: 550px;
    margin-right: 550px;
    margin-bottom: 100px;
    padding: 30px;
    background-color: black;
    color: rgb(220, 21, 21);
    border-radius: 12px;
}

.links-message {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    border-radius: 12px;
    margin-left: 500px;
    margin-right: 500px;
}

img[src="/static/assets/icons8-hand-cursor-50.png"] {
    max-width: 30px;
    max-height: 30px;
}

.ul-for-pc {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.li-for-pc {
    background: rgb(220, 22, 22);
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    justify-content: center;
    list-style: none;
    border-radius: 12px;
    font-size: 20px;
    text-align: center;
    width: 350px;
}

.price {
    font-weight: bolder;
    font-size: 35px;
}

.gpu-text {
    font-weight: bolder;
    font-size: 25px;
}

.cpu-text {
    font-weight: bolder;
    font-size: 25px;
}

.ram-text {
    font-weight: bolder;
    font-size: 25px;
}

.motherboard-text {
    font-weight: bolder;
    font-size: 25px;
}

.psu-text {
    font-weight: bolder;
    font-size: 25px;
}

.input-form-edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgb(220, 20, 20);
    padding: 50px;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 100px;
    border-radius: 12px;
}

.name-input-edit {
    margin-left: 30px;
    background: black;
    color: rgb(221, 21, 21);
    border-radius: 12px;
    border-color: rgb(221, 21, 21);
    padding: 5px;
    font-size: 20px;
}

.gpu-input-edit {
    padding: 10px;
}

.gpu-select-edit {
    margin-left: 45px;
    margin-top: 20px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 15px;
}

.cpu-input-edit {
    padding: 10px;
}

.cpu-select-edit {
    margin-left: 55px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 15px;
}

.ram-input-edit {
    padding: 10px;
}

.ram-select-edit {
    margin-left: 50px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 15px;
}

.motherboard-input-edit {
    padding: 10px;
}

.motherboard-select-edit {
    margin-right: 60px;
    margin-left: 70px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 15px;
}

.psu-input-edit {
    padding: 10px;
}

.psu-select-edit {
    margin-left: 65px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 15px;
}

.create-pc-button {
    margin-left: 30px;
    background: black;
    color: rgb(222, 21, 21);
    border-radius: 10px;
    border-color: black;
    padding: 20px;
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: hsl(0, 0%, 0%);
    color: rgb(221, 21, 21);
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}

.create-pc-button:hover {
    letter-spacing: 3px;
    background-color: hsl(0, 81%, 47%);
    color: black;
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
    cursor: pointer;
}

.input-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgb(220, 20, 20);
    padding: 50px;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 100px;
    border-radius: 12px;
}

.name-input {
    margin-left: 67px;
    background: black;
    color: rgb(221, 21, 21);
    border-radius: 12px;
    border-color: black;
    padding: 5px;
    font-size: 20px;
}

.gpu-input {
    padding: 10px;
}

.gpu-select {
    margin-left: 78px;
    margin-top: 20px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 15px;
}

.cpu-input {
    padding: 10px;
}

.cpu-select {
    margin-left: 85px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 15px;
}

.ram-input {
    padding: 10px;
}

.ram-select {
    margin-left: 85px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 15px;
}

.motherboard-input {
    padding: 10px;
}

.motherboard-select {
    margin-right: 60px;
    margin-left: 60px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 15px;
}

.psu-input {
    padding: 10px;
}

.psu-select {
    margin-left: 87px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 15px;
}

.update-pc-button {
    margin-left: 10px;
    background: black;
    color: rgb(222, 21, 21);
    border-radius: 10px;
    border-color: black;
    padding: 20px;
    margin-top: 50px;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: hsl(0, 0%, 0%);
    color: rgb(221, 21, 21);
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
}

.update-pc-button:hover {
    letter-spacing: 3px;
    background-color: hsl(0, 81%, 47%);
    color: black;
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
    cursor: pointer;
}

.show-pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgb(220, 20, 20);
    padding: 50px;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 100px;
    border-radius: 12px;
}

.name-show {
    margin-left: 10px;
    background: black;
    color: rgb(221, 21, 21);
    border-radius: 12px;
    border-color: black;
    padding: 5px;
    font-size: 35px;
}

.price-show {
    margin-left: 10px;
    margin-top: 10px;
    background: black;
    color: rgb(221, 21, 21);
    border-radius: 12px;
    border-color: black;
    padding: 5px;
    font-size: 35px;
}

.gpu-show {
    margin-left: 10px;
    margin-top: 20px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 20px;
}

.cpu-show {
    margin-left: 10px;
    margin-top: 10px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 20px;
}

.ram-show {
    margin-left: 10px;
    margin-top: 10px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 20px;
}

.motherboard-show {
    margin-left: 10px;
    margin-top: 10px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 20px;
}

.psu-show {
    margin-left: 10px;
    margin-top: 10px;
    border-color: black;
    border-radius: 12px;
    background-color: black;
    color: rgb(221, 20, 20);
    padding: 5px;
    font-size: 20px;
}

.container-for-edit-pc-button {
    margin-top: 40px;
}

.delete-pc-button {
    margin-left: 10px;
    margin-top: 30px;
    background: black;
    color: rgb(222, 21, 21);
    border-radius: 10px;
    border-color: black;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 3px;
    background-color: hsl(0, 0%, 0%);
    color: rgb(221, 21, 21);
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
    text-decoration: none;
}

.delete-pc-button:hover {
    letter-spacing: 3px;
    background-color: hsl(0, 81%, 47%);
    color: black;
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
    cursor: pointer;
}

.container-for-delete-pc-button {
    margin-top: 10px;
}