<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
    <title>Custom PC Store</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/all_pcs">All PCs</a></li>
                <li><a href="create_pc">Create a new PC</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}
        
    {% endblock %}
</body>
</html>